.container {
  padding-bottom: 1.33rem;
}
.bar-head {
  padding: 0 .32rem;
  line-height: 1.2rem;
  box-shadow: 0 0 0 #fff;
  background-color: #333333;
  color: #2885cf;
}

.tab-content {
  margin-top: -1.2rem;
  padding-top: 1.2rem;
  background-color: #f7f7f7;
}